body{
	
	width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    padding-left: 10px;
    padding-right:10px;
    

}

.logo
{

	margin-top:10px;
		
}

nav{
	margin-top:20px; 
	border:solid grey;
	background-color: grey;
	text-align: left;
	border-radius: 5px;
	margin-bottom:10px; 

}



li{
	display: inline;

}

li a{
	color:white;
	text-decoration: none;
	
}

.container{
	width:100%;
}

.leftbox
{
width:58%;
float: left;
margin-right: 10px;
}

.lb1 , .lb2
{
	background-color: white;
	padding:10px;
	margin-bottom:10px;
	 text-align: justify;
    text-justify: inter-word;
	
}

.rightbox
{
 width:40%;
 float: right;
}

.rb1 , .rb2 ,.rb3
{
	background-color: white;
	padding:10px;
	margin-bottom:10px;
	text-align: justify;
    text-justify: inter-word;
	
}

#hh
{
	color:red;

}
footer
{
	width:100%; 
    padding: 10px;
    display:inline-block; 
    color:white;
    background-color: grey;
    border-radius:5px 5px 5px 5px;
    margin-top: 10px;

  }


@media screen and (min-width: 200px) and (max-width: 600px){
	
	.logo img
	{
	width: 100%;
	
	}
	

	.container{
		width:100%;
		padding: 10px;
		border: 1px solid red;
	}

	li{
		display: block;
		text-align: center;
	}

	.leftbox{
		width:100%;
		margin-right: 0px;
	}
 	.rightbox{
 		width:100%;
 		float:left;
 		
 	}
 



}	
   
